:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --baseBackgroundColor: #121212;
  --componentBackgroundColor: #424242;

  /* text */
  --highEmp: rgba(255, 255, 255, 0.87);
  --mediumEmp: rgba(255, 255, 255, 0.6);
  --lowEmp: rgba(255, 255, 255, 0.38);
}

/* predefined classes  */
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexCenterColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "retro";
  src: url(/fonts/Sabo-Regular.otf);
}

html,
body {
  background-color: var(--baseBackgroundColor);
  color: var(--highEmp);
}

h1 {
  font-family: 'retro', Arial, sans-serif;
  font-weight: normal;
  font-style: normal;
}

main {
  flex-direction: column;
}

.top {
  flex-direction: column;
}

.top-logo>img {
  width: 128px;
  height: 128px;
}